
<h1 mat-dialog-title>Nueva ciudad</h1>
<div mat-dialog-content [formGroup]="registroForm" >
    <p>Complete los datos:</p>
    <mat-form-field>
        <mat-label>City Code</mat-label>
        <input matInput formControlName="cityval" value="{{this.registroForm.get('cityval')?.value}}">
        <mat-error *ngIf="isValidField('cityval')">
            {{getErrorMessage("cityval")}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>City Name</mat-label>
        <input matInput formControlName="provinceval" value="{{this.registroForm.get('provinceval')?.value}}" >
        <mat-error *ngIf="isValidField('provinceval')">
            {{getErrorMessage("provinceval")}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput formControlName="statusval" value="{{this.registroForm.get('statusval')?.value}}">
        <mat-error *ngIf="isValidField('statusval')">
            {{getErrorMessage("statusval")}}
        </mat-error>
    </mat-form-field>
</div>


<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [disabled]="registroForm.invalid" (click)="guardar()" >Guardar</button>
</div>
